<div id="calendar" class="hiding">
  <div class="header">
    <button id="prevMonth">&lt;</button>
    <h2 id="monthYear"></h2>
    <button id="nextMonth">&gt;</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>
    <tbody id="calendarBody"></tbody>
  </table>
  <div id="time-slots-container" class="hiding mt-3">
    <h3 class="text-primary">Morning</h3>
    <div id="morning" class="time-slot-wrapper"></div>
    <h3 class="text-primary">Afternoon</h3>
    <div id="afternoon" class="time-slot-wrapper"></div>
  </div>
</div>
