<footer class="bg-dark text-white py-4">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 mb-3">
            <h5>Contact Us</h5>
            <p>
              Phone:
              <a id="phone" class="text-white" href="tel:+1234567890"
                >+1 234 567 890</a
              ><br />
              Email:
              <a id="email" href="mailto:example@gmail.com" class="text-white"
                >example@gmail.com</a
              >
            </p>
          </div>
          <div class="col-md-6 mb-3">
            <h5>Our Address</h5>
            <p id="address">
              123 Main Street,<br />Cityville, ST 45678,<br />Country
            </p>
          </div>
        </div>
        <div class="mt-3">
          <p class="small">
            © 2025 <a id="bname" class="text-white"></a>. All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="/js/book.js"></script>