<%- include('./partials/head') %> 
  <body>
    <%- include('./partials/navbar') %>

    <section aria-label="Page navigation" class="mt-4">
      <ul class="pagination justify-content-center hiding">
        <li class="page-item">
          <button id="prev" class="page-link">Previous</button>
        </li>
        <li class="page-item">
          <button id="next" class="page-link disabled">Next</button>
        </li>
      </ul>
    </section>

    <main class="container my-5">
      <section class="controls">
        <section id="cards" class="cards"></section>

        <div id="apointType" class="hiding mt-4">
          <div class="card text-center shadow-sm">
            <div id="practit" class="card-header bg-primary text-white">
              Featured
            </div>
            <div class="card-body">
              <div class="card justify-content-center" style="width: 18rem">
                <ul id="apointList" class="list-group list-group-flush"></ul>
              </div>
            </div>
            <div class="card-footer text-muted"></div>
          </div>
        </div>

        <%- include('./partials/calendar') %>

        <form id="former" class="hiding mt-4 mx-auto">
          <div class="form-floating mb-3 remove">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              required
            />
            <label for="floatingInput">Name and Surname</label>
          </div>
          <div class="form-floating mb-3 remove">
            <input
              type="tel"
              class="form-control"
              id="floatingTel"
              pattern="[0]{1}[0-9]{9}"
              required
            />
            <label for="floatingTel">Phone Number</label>
          </div>
          <div class="d-grid remove">
            <button class="btn btn-primary btn-lg remove">Confirm</button>
          </div>
          <div class="d-grid mt-3">
            <section id="bookingStatus" class="hiding"></section>
            <section id="code" class="hiding"></section>
            <button
              id="cont"
              type="button"
              class="btn hiding btn-primary btn-lg"
            >
              Continue
            </button>
          </div>
        </form>
      </section>
    </main>

    <%- include('./partials/footer') %> 
  </body>
</html>
