<%- include('./partials/head') %> 
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <h2 id="name" class="navName navbar-title m-0"></h2>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/cancelations">Cancelation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>

          <div class="flex-grow-1 text-center">
            <h2 id="name" class="Htitle navbar-title m-0">A Salon</h2>
          </div>
        </div>
      </div>
    </nav>

    <section aria-label="Page navigation" class="mt-4">
      <ul class="pagination justify-content-center hiding">
        <li class="page-item">
          <button id="prev" class="page-link">Previous</button>
        </li>
        <li class="page-item">
          <button id="next" class="page-link disabled">Next</button>
        </li>
      </ul>
    </section>

    <main class="container my-5">
      <section class="controls">
        <section id="cards" class="cards"></section>

        <div id="apointType" class="hiding mt-4">
          <div class="card text-center shadow-sm">
            <div id="practit" class="card-header bg-primary text-white">
              Featured
            </div>
            <div class="card-body">
              <div class="card justify-content-center" style="width: 18rem">
                <ul id="apointList" class="list-group list-group-flush"></ul>
              </div>
            </div>
            <div class="card-footer text-muted"></div>
          </div>
        </div>

        <div id="calendar" class="hiding">
          <div class="header">
            <button id="prevMonth">&lt;</button>
            <h2 id="monthYear"></h2>
            <button id="nextMonth">&gt;</button>
          </div>
          <table>
            <thead>
              <tr>
                <th>Mo</th>
                <th>Tu</th>
                <th>We</th>
                <th>Th</th>
                <th>Fr</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
            </thead>
            <tbody id="calendarBody"></tbody>
          </table>
          <div id="time-slots-container" class="hiding mt-3">
            <h3 class="text-primary">Morning</h3>
            <div id="morning" class="time-slot-wrapper"></div>
            <h3 class="text-primary">Afternoon</h3>
            <div id="afternoon" class="time-slot-wrapper"></div>
          </div>
        </div>

        <form id="former" class="hiding mt-4 mx-auto">
          <div class="form-floating mb-3 remove">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              required
            />
            <label for="floatingInput">Name and Surname</label>
          </div>
          <div class="form-floating mb-3 remove">
            <input
              type="tel"
              class="form-control"
              id="floatingTel"
              pattern="[0]{1}[0-9]{9}"
              required
            />
            <label for="floatingTel">Phone Number</label>
          </div>
          <div class="d-grid remove">
            <button class="btn btn-primary btn-lg remove">Confirm</button>
          </div>
          <div class="d-grid mt-3">
            <section id="bookingStatus" class="hiding"></section>
            <section id="code" class="hiding"></section>
            <button
              id="cont"
              type="button"
              class="btn hiding btn-primary btn-lg"
            >
              Continue
            </button>
          </div>
        </form>
      </section>
    </main>

    <%- include('./partials/footer') %> 
  </body>
</html>
