<%- include('./partials/head') %> 
  <body>
    <%- include('./partials/navbar') %>

    <main>
      <section class="controls">
        <form id="cancel">
        <h1 class="text-center">Cancel Appointment</h1>
          <div id="texting" class="form-floating mb-3 in">
            <input
              type="text"
              class="form-control"
              id="bookCode"
              required
              pattern="[a-z]{3}[0-9]{10}"              
            />
            <label for="floatingInput">Appointment Code</label>
          </div>
          <div id="letKnower" class="hiding"></div>
          <div class="d-grid in">
            <button id="searchCode" class="btn btn-primary btn-lg">
              Search Code
            </button>
          </div>

          <section id="selector" class="hiding" style="margin-top: 2rem;">
            <div class="d-grid in">
              <button id="deletebook" type="button" class="btn btn-primary btn-lg">
                Cancel Appointment
              </button>
            </div>
          </section>
        </section>
        </form>

        
    </main>

    <%- include('./partials/footer') %> 
  </body>
</html>
