<%- include('./partials/head') %> 
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Cancelations</a>
        <h2 id="name" class="navName navbar-title m-0"></h2>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>

          <div class="flex-grow-1 text-center">
            <h2 id="name" class="Htitle navbar-title m-0">A Salon</h2>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <section class="controls">
        <form id="cancel">
          <div id="texting" class="form-floating mb-3 in">
            <input
              type="text"
              class="form-control"
              id="bookCode"
              required
              pattern="[a-z]{3}[0-9]{10}"              
            />
            <label for="floatingInput">Appointment Code</label>
          </div>
          <div id="letKnower" class="hiding"></div>
          <div class="d-grid in">
            <button id="searchCode" class="btn btn-primary btn-lg">
              Search Code
            </button>
          </div>

          <section id="selector" class="hiding" style="margin-top: 2rem;">
            <div class="d-grid in">
              <button id="deletebook" type="button" class="btn btn-primary btn-lg">
                Cancel Appointment
              </button>
            </div>
          </section>
        </section>
        </form>

        
    </main>

    <%- include('./partials/footer') %> 
  </body>
</html>
