<%- include('./partials/head') %> 
  <body>
    <%- include('./partials/navbar') %>
    <main class="container my-5">
        <section class="controls">
        </section>
    </main>
    <%- include('./partials/footer') %> 
  </body>
</html>